body{
    text-align: justify;
    font-size: 20px;
    line-height: 1.3;
}

header{
  position: relative;
  background-color: rgba(101, 147, 245, 0.75);
  padding: 80px;
  text-decoration-color: rgb(76, 81, 109);
  width: auto;
  font-size: 60px;
  font-family: Oxygen, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h1{
  font-size: 100px;
}

h2{
  font-size: 80px;
}

p{
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
}
