header{
  position: relative;
  background-color: rgba(101, 147, 245, 0.75);
  padding: 20px 80px;
  text-decoration-color: rgb(76, 81, 109);
  width: auto;
  font-size: 60px;
  font-family: Oxygen, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h1{
  font-size: 100px;
  text-decoration-color: black;
}

h2{
  font-size: 80px;
}

p{
  width: 80%;
  padding: 20px;
}
