header{
  position: relative;
  background-color: rgba(101, 147, 245, 0.75);
  padding: 20px 40px;
  text-decoration-color: rgb(76, 81, 109);
  width: auto;
  font-size: 40px;
  font-family: Oxygen, sans-serif;
}

h1{
  font-size: 60px;
  text-decoration-color: black;
}

h2{
  font-size: 50px;
}
